In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

# Run below function to fetch data, filter it accrding to LaGuardia as drop-off or pick-up location. It also saved the filtered data as csv in your pc.

In [2]:
month_number = input("Enter Month number(1-12): ")
month_number = int(month_number)
if month_number == 1:
    month_name = "January 2016"
    url = "https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2016-0"+ str(month_number)+".csv"
if month_number == 2:
    month_name = "February 2016"
    url = "https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2016-0"+ str(month_number)+".csv"
if month_number == 3:
    month_name = "March 2016"
    url = "https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2016-0"+ str(month_number)+".csv"
if month_number == 4:
    month_name = "April 2016"
    url = "https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2016-0"+ str(month_number)+".csv"
if month_number == 5:
    month_name = "May 2016"
    url = "https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2016-0"+ str(month_number)+".csv"
if month_number == 6:
    month_name = "June 2016"
    url = "https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2016-0"+ str(month_number)+".csv"
if month_number == 7:
    month_name = "July 2015"
    url = "https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2015-0"+ str(month_number)+".csv"
if month_number == 8:
    month_name = "August 2015"
    url = "https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2015-0"+ str(month_number)+".csv"
if month_number == 9:
    month_name = "September 2015"
    url = "https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2015-0"+ str(month_number)+".csv"
if month_number == 10:
    month_name = "October 2015"
    url = "https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2015-"+ str(month_number)+".csv"
if month_number == 11:
    month_name = "November 2015"
    url = "https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2015-"+ str(month_number)+".csv"
if month_number == 12:
    month_name = "December 2015"
    url = "https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2015-"+ str(month_number)+".csv"
df=pd.read_csv(url)
    
    
df_as_dropoff = df[df['dropoff_longitude'] >= -73.8741]
df_as_dropoff = df_as_dropoff[df_as_dropoff['dropoff_longitude'] <= -73.8613]
df_as_dropoff = df_as_dropoff[df_as_dropoff['dropoff_latitude'] >= 40.7633]
df_as_dropoff = df_as_dropoff[df_as_dropoff['dropoff_latitude'] <= 40.7713]
df_as_dropoff.to_csv(r'd:/LaGuardia_as_dropoff_'+str(month_name)+'.csv')

df_as_pickup = df[df['pickup_longitude'] >= -73.8741]
df_as_pickup = df_as_pickup[df_as_pickup['pickup_longitude'] <= -73.8613]
df_as_pickup = df_as_pickup[df_as_pickup['pickup_latitude'] >= 40.7633]
df_as_pickup = df_as_pickup[df_as_pickup['pickup_latitude'] <= 40.7713]
df_as_pickup.to_csv(r'd:/LaGuardia_as_pickup_'+str(month_name)+'.csv')

Enter Month number(1-12): 11

In [34]:
df_as_dropoff = df[df['dropoff_longitude'] >= -73.8741]
df_as_dropoff = df_as_dropoff[df_as_dropoff['dropoff_longitude'] <= -73.8613]
df_as_dropoff = df_as_dropoff[df_as_dropoff['dropoff_latitude'] >= 40.7633]
df_as_dropoff = df_as_dropoff[df_as_dropoff['dropoff_latitude'] <= 40.7713]
df_as_dropoff.to_csv(r'd:/LaGuardia_as_dropoff_'+str(month_name)+'.csv')